#mainlogo {
  width: auto;
  padding-top: 5px;
  padding-left: 30px;
  height: 40px;
}

/* Footer CSS */

#fb_parent {
  padding-left: 15px;
}

#google_plus_parent {
  padding-left: 15px;
}

#twitter_parent {
  padding-left: 10px;
}

#mail_parent {
  padding-left: 15px;
}

/* Footer CSS ends */

/* Temporary*/

#temp_ {
  padding-top: 90px;
  font-size: 50px;
}

#temp__ {
  padding-top: 100px;
  height: 600px;
}

.ico {
  padding-left: 10px;
}

.temp {
  font-size: 30px;
  color: white;
}

.temp1 {
  font-size: 30px;
  color: white;
}

.temp1:hover {
  color: #2962ff;
}

.texty2 {
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.texty {
  font-size: 50px;
  color: white;
}

.texty:hover {
  color: #2962ff;
}

#slider {
  margin-top: 30px;
  margin-left: 30px;
}