[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Temporary*/

#temp_ {
  padding-top: 90px;
  font-size: 50px;
}

#temp__ {
  height: 600px;
}

.ico {
  padding-left: 10px;
}

.temp {
  font-size: 30px;
  color: white;
}

.temp1 {
  font-size: 30px;
  color: white;
}

.temp1:hover {
  color: #2962ff;
}

/* Simple Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form Layout */

.form-wrapper {
  background: #ecf0f1;
  margin: 3vw auto;
  padding: 5vh 1vw;
  padding-bottom: 6vh;
  max-width: 50vw;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 2vh 0;
}

form {
  padding: 0 3vh;
}

.form-item {
  margin-bottom: 2vh;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #2962ff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #2962ff;
  outline: none;
}

.button-panel {
  margin: 2vw 0 0;
  width: 100%;
}

.button-panel .button {
  background: #2979ff;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 4vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 60%;
}

.button:hover {
  background: #2962ff;
}

.form-footer {
  font-size: 1.5vw;
  padding-bottom: 2vw;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

@media only screen and (max-width: 500px) {
  .form-wrapper {
    max-width: 90vw;
    min-height: 95vh;
  }
  h1 {
    text-align: center;
    padding: 2vh 0;
    font-size: 25px;
  }
  .form-footer {
    font-size: 15px;
    padding-bottom: 1vw;
    text-align: center;
  }
  .form-item {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
  }
  .form-item input {
    font-size: 15px;
    height: 30px;
  }
  .button-panel .button {
    height: 10vw;
    font-size: 25px;
    width: 60%;
  }
}

/* Footer CSS */

#google_plus {
  height: 35px;
  width: 35px;
}

#google_plus_parent {
  padding-left: 20px;
}

#twitter {
  height: 45px;
  width: 45px;
}

#twitter_parent {
  padding-left: 10px;
}
